<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>348381776297-dc85p2e0oa5cffh2ncv1bnk2f6uhtp2t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.348381776297-dc85p2e0oa5cffh2ncv1bnk2f6uhtp2t</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>348381776297-4iqn6bfghfj377fnte4m905aqoiasb9o.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCuoUyHC7PrYxyqLmemPk7U1opvgLR3UFg</string>
	<key>GCM_SENDER_ID</key>
	<string>348381776297</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.refaq.sherif.Tabib</string>
	<key>PROJECT_ID</key>
	<string>bloodasnotesv1</string>
	<key>STORAGE_BUCKET</key>
	<string>bloodasnotesv1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:348381776297:ios:233106072299753e</string>
	<key>DATABASE_URL</key>
	<string>https://bloodasnotesv1.firebaseio.com</string>
</dict>
</plist>